{% extends 'base.html.twig' %}

{% block body %}
<nav>
    <a href="{{ path('app_frontpublication_index') }}">Retour à la liste</a>
</nav>
<article>
    <h1>{{ publication.titre }}</h1>
    <div>Publié par {{ publication.ecritPar.nom }} le: {{ publication.publieeLe | date('d/m/Y - H:i:s') }}</div>
    <div>
        {{ publication.contenu | raw }}
    </div>
</article>

    <nav>
        <h1>Du même auteur</h1>
        {% for publi in memeAuteur %}
            <a href="{{ path('app_frontpublication_detail', {id: publi.id}) }}">
                {{ publi.titre }}
            </a>
        {% endfor %}
    </nav>
{% endblock %}

